<style>
.datahidden {
	display:none;
}

.tiny {
	font-size:70%;
}

.small {
	font-size:80%;
}

.middle {
	font-size:120%;
}

.big {
	font-size:250%;
}

.large {
	font-size:400%;
}

.bold {
	font-weight: bold;
}

.grayed {
	color: gray;
}

.center {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	text-shadow: none;
}

.box { 
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
}

.ui-collapsible .ui-btn {
/*	background-color: #6dac20 !important;
	color: white !important;
	text-shadow: none !important;*/
	border-radius: 5px 5px 5px 5px;
	padding: 15px;
	padding-left: 3.5em;
	vertical-align: middle;
}

.boxrow {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

.boxitem {
	text-align: center;
	vertical-align: middle;
}

.servicestatus {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	text-shadow: none;
	padding: 6px 0;
}

.servicestatus-info {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.servicestatus-btns {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: center;
	align-items: center;
}

.collapsible {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 1fr;
	gap: 0px 10px;
	justify-content: left;
	justify-items: left;
	align-items: left;
	text-shadow: none;
}

.margin {
	margin: 10px;
}

.status {
	padding: 7px 12px;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;
	background: #dfdfdf;
	border: 1px solid #7E7E7E;
	min-width: 130px;
	max-width: 100%;
	text-align: center;
}

.ui-popup-container
{
	width:  50%;
	height: 80%;
}

</style>

<div class="servicestatus">
	<div class="servicestatus-info">
		<div><TMPL_VAR "AUDIOSERVER.LABEL_SERVICE"></div>
		<div id="asservicestatusicon"><img src="./images/unknown_20.png"></div>
		<div class="status" id="asservicestatus"><TMPL_VAR "COMMON.HINT_UNKNOWN"></div>
	</div>
	<div class="servicestatus-btns">
		<a id="as_btn_restart" href="#" onclick="asservicerestart(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_RESTART"></a>
		<a id="as_btn_stop" href="#" onclick="asservicestop(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all"><TMPL_VAR "COMMON.BUTTON_STOP"></a>
	</div>
</div>

<hr>

<div data-role="fieldcontain">
	<label for="as_internal"><TMPL_VAR "AUDIOSERVER.LABEL_INTERNAL"></label>
	<input type="checkbox" id="as_internal" name="as_internal" data-role="flipswitch">
</div>

<div data-role="fieldcontain">
	<label for="as_host"><TMPL_VAR "AUDIOSERVER.LABEL_HOST"></label>
	<input type="text" id="as_host" name="as_host" value="">
</div>

<div data-role="fieldcontain">
	<label for="as_port"><TMPL_VAR "AUDIOSERVER.LABEL_PORT"></label>
	<input type="number" id="as_port" name="as_port" min="1" max="65535" value="">
</div>

<div data-role="fieldcontain">
	<label for="as_version"><TMPL_VAR "AUDIOSERVER.LABEL_VERSION"></label>
	<select id="as_version" name="as_version">
		<option value=""><TMPL_VAR "AUDIOSERVER.HINT_LOADING_VERSIONS"></option>
	</select>
</div>

<a href="#" onclick="as_save_settings(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_SAVE"></a>
<span id="as_savinghint" style="margin-left:10px;"></span>

<br>
<br>
<br>
